[Unit]
Description="Keystorm HTTPS Service"
After=network.target
Requires=keystorm.socket
Requires=memcached.service

[Service]
Type=simple
User=keystorm
Group=keystorm
PrivateTmp=true
Restart=always

ExecStart="bin/bundle exec --keep-file-descriptors puma"
WorkingDirectory=/opt/keystorm

[Install]
WantedBy=multi-user.target
